{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| 
	Log in!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="bloc-login">
			<div class="row">
				<div class="col col-sm-8 m-auto">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						<h1 class="h1 my-5 text-center">Please sign in</h1>
						<div class="card p-5">
							<div class="mb-5 text-dark">
								<label for="inputEmail">Email</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							</div>
							<div class="text-dark">
								<label for="inputPassword">Password</label>
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>

						{#
						Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						See https://symfony.com/doc/current/security/remember_me.html
					    <div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me"> Remember me
							</label>
						</div>#}

						<div class="bloc-btn mt-4 d-flex justify-content-between">
                            <a href="/register" class="btn btn-lg btn-outline-light">Register</a>
							<button class="btn btn-lg btn-secondary" type="submit">
								Sign in
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
