{% extends 'layoutUser.html.twig' %}

{% block title %}
	{{parent()}}| 
						Log in!
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="bloc-login">
			<div class="row">
				<div class="col col-sm-8 m-auto">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						<h1 class="h1 my-5 text-center">Please sign in</h1>
						<div class="card p-5">
							<div class="mb-5 text-dark">
								<label for="inputEmail">Email</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							</div>
							<div class="text-dark">
								<label for="inputPassword">Password</label>
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>

						{#
																																				Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																				See https://symfony.com/doc/current/security/remember_me.html
																																			    <div class="checkbox mb-3">
																																					<label>
																																						<input type="checkbox" name="_remember_me"> Remember me
																																					</label>
																																				</div>#}

						<div class="bloc-btn mt-4 d-flex justify-content-between">
							<a href="/register" class="btn btn-lg btn-outline-light">
								<div class="d-flex align-items-center">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
										<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
										<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
									</svg>
									<span class="mx-2">Register</span>
								</div>
							</a>
							<button class="btn btn-lg btn-secondary" type="submit">
								<div class="d-flex align-items-center">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-box-arrow-in-right" viewbox="0 0 16 16">
										<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
										<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
									</svg>
									<span class="mx-2">Sign in</span>
								</div>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
