{% extends 'base.html.twig' %}

{% block title %}{{parent()}}| Register
{% endblock %}

{% block content %}
	<div class="container">
		<div class="bloc-register">
			<div class="row">
				<div class="col col-sm-8 m-auto">
					<h1 class="h1 text-center my-5">Registration</h1>
					<div class="card p-5">
						{{ form_start(registrationForm) }}
						<div class=" text-dark">
							{{ form_row(registrationForm.firstName, {
                                label: 'Firstname'
                            }) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.lastName, {
                                label: 'Lastname'
                            }) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.phoneNumber, {
                                label: 'Phone number'
                            }) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.email) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.company) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}
						</div>
					</div>
					<div class="bloc-btn mt-4 d-flex justify-content-between">
						<a href="/" class="btn btn-lg btn-outline-light">Return</a>
						<button type="submit" class="btn btn-lg btn-secondary">Register</button>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
