{% extends 'layoutUser.html.twig' %}

{% block title %}
	{{parent()}}| Register
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="bloc-register">
			<div class="row">
				<div class="col col-sm-8 m-auto">
					<h1 class="h1 text-center my-5">Registration</h1>
					<div class="card p-5">
						{{ form_start(registrationForm) }}
						<div class=" text-dark">
							{{ form_row(registrationForm.firstName, {
                                label: 'Firstname'
                            }) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.lastName, {
                                label: 'Lastname'
                            }) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.phoneNumber, {
                                label: 'Phone number'
                            }) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.email) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.company) }}
						</div>
						<div class="mt-5 text-dark">
							{{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}
						</div>
					</div>
					<div class="bloc-btn mt-4 d-flex justify-content-between">
						<a href="/" class="btn btn-lg btn-outline-light">
							<div class="d-flex align-items-center">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
								</svg>
								<span class="mx-2">Return</span>
							</div>
						</a>
						<button type="submit" class="btn btn-lg btn-secondary">
							<div class="d-flex align-items-center">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
								</svg>
								<span class="mx-2">Register</span>
							</div>
							</button>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
