{% extends 'layoutUser.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block content %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RentedDate</th>
                <th>ReturnDate</th>
                <th>Destination</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.rentedDate ? reservation.rentedDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.returnDate ? reservation.returnDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.destination }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
