{% extends 'layoutUser.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>RentedDate</th>
                <td>{{ reservation.rentedDate ? reservation.rentedDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ReturnDate</th>
                <td>{{ reservation.returnDate ? reservation.returnDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ reservation.destination }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
