<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Amazon Car Services
			{% endblock %}
		</title>
		<link rel="icon" href="{{asset('build/images/icons/favicons/favicon.ico')}}">
		<link rel="icon" href="{{asset('build/images/icons/favicons/favicon-16x16.png')}}" type="image/png" sizes="16x16">
		<link rel="icon" href="{{asset('build/images/icons/favicons/favicon-32x32.png')}}" type="image/png" sizes="32x32">
		<link rel="apple-touch-icon" href="{{asset('build/images/icons/favicons/apple-touch-icon.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="d-flex flex-column min-vh-100 justify-content-between"> 
		{% block header %}{% endblock %}
			<main>
				{% block content %}{% endblock %}
			</main>
		{% block footer %}{% endblock %}
	</body>
</html>
