<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a href="/" class="navbar-brand mb-0 h1">
				<img src="" alt="" class="d-inline-block align-text-top">
				ACS - Amazon Car Services
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Home</a>
						</li>
					</ul>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{path('app_company_home', {'company' : company.id})}}">Fleet</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">Orders</a>
					</li>
				</ul>
				<div class="dropdown">
					{% if app.user %}
						<a class="nav-link fw-bold text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
							{{app.user.email}}
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							{# {% if is_granted("ROLE_COMPANY") %}
								<li>
									<a class="dropdown-item text-dark" href="{{path('app_company_home', {'company': company.id})}}">
										Dashboard
									</a>
								</li>
							{% endif %} #}
							<li>
								<a class="dropdown-item text-dark" href="{{path('app_logout')}}">
									Logout
								</a>
							</li>
						</ul>
					{% else %}
						<a class="nav-link text-dark" href="{{path('app_login')}}">
							Login
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
</header>
